html {
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  background: url("background.png") #FFF repeat-y; }
  html label {
    font-weight: 600 !important; }
  html label.min {
    font-weight: 400 !important; }

body {
  padding-top: 66px;
  height: 100%;
  font-family: 'Roboto', sans-serif !important; }

.container.top {
  width: 100%;
  min-width: 1200px; }

.container {
  width: 100%;
  min-width: 1200px;
  margin: 0px; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.navbar-top {
  position: absolute;
  top: 0px;
  border: 0;
  width: 100%;
  min-width: 1200px;
  padding: 0 20px;
  background: #333;
  height: 66px; }
  .navbar-top .navbar-header {
    float: left; }
  .navbar-top .user-dropdown {
    float: right; }
    .navbar-top .user-dropdown .nav .open > a {
      background: #000; }
    .navbar-top .user-dropdown .dropdown .dropdown-toggle {
      color: #999; }
    .navbar-top .user-dropdown .dropdown .dropdown-toggle:hover {
      background: #000; }

.sidebar {
  position: absolute;
  top: 66px;
  width: 200px;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee; }
  .sidebar .header:first-child {
    margin-top: -20px; }
  .sidebar .header {
    margin-bottom: 5px;
    font-size: 16px;
    background: #DDD;
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-left: -20px;
    padding: 10px 0 10px 20px;
    margin-bottom: 0px; }
    .sidebar .header i {
      margin-right: 5px; }

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 45px; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

/*
 * Main content
 */
.main {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 200px; }

.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

.placeholders h4 {
  margin-bottom: 0; }

.placeholder {
  margin-bottom: 20px; }

.placeholder img {
  display: inline-block;
  border-radius: 50%; }

.background_preview {
  width: 387px;
  height: 266px;
  border: 1px solid #CCC;
  margin-bottom: 10px;
  padding: 10px; }
  .background_preview .position_fix {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: url("/base/assets/logo.png") 50% 50%; }
    .background_preview .position_fix img {
      position: absolute;
      width: 365px; }

.line-break {
  margin: 10px 0;
  border-bottom: 1px solid #CCC; }

.content {
  margin-top: 20px; }

.content.users .background_preview {
  width: 222px;
  height: 222px; }
  .content.users .background_preview img {
    width: 200px; }

.content.my_account {
  padding: 0px 15px; }
  .content.my_account .parcours_list a {
    text-decoration: none; }
    .content.my_account .parcours_list a .parcours {
      padding: 10px 0; }
  .content.my_account h4 {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD; }
  .content.my_account .user_profile {
    min-height: 50px;
    padding-bottom: 20px; }
    .content.my_account .user_profile .image {
      float: left;
      width: 50px;
      height: 50px;
      overflow: hidden; }
      .content.my_account .user_profile .image img {
        width: 50px; }
    .content.my_account .user_profile .body {
      margin-left: 70px; }
      .content.my_account .user_profile .body .username {
        font-size: 17px; }
        .content.my_account .user_profile .body .username .role {
          font-size: 12px;
          color: #666;
          margin-left: 5px; }
      .content.my_account .user_profile .body .email {
        font-size: 14px;
        font-weight: 300; }

.preview .parcours_state {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  font-weight: 300; }

.users_list .user:hover {
  background: #F0F0F0; }
.users_list .user {
  clear: both;
  padding: 10px;
  min-height: 70px; }
  .users_list .user .thumb {
    float: left;
    overflow: hidden;
    background: #666; }
    .users_list .user .thumb img {
      width: 50px;
      height: 50px; }
  .users_list .user .body {
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
    margin-left: 70px;
    font-weight: 300; }
    .users_list .user .body .username {
      font-weight: 700; }
      .users_list .user .body .username .role {
        font-weight: 400;
        font-size: 12px; }
    .users_list .user .body .date {
      font-size: 12px; }
    .users_list .user .body .badge {
      margin-left: 5px;
      vertical-align: 1px; }
  .users_list .user .actions {
    margin-left: 70px;
    margin-top: 10px; }
.users_list .user.selectable {
  cursor: pointer;
  width: 700px;
  overflow: hidden; }
  .users_list .user.selectable .checkicon {
    float: left;
    line-height: 50px;
    margin: 0 10px 0 -25px;
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s; }
.users_list .user.selectable.selected {
  background: #ccc; }
  .users_list .user.selectable.selected .body {
    margin-left: 100px; }
  .users_list .user.selectable.selected .checkicon {
    margin: 0 10px; }

.parcours_list .parcours.disabled .image img {
  opacity: 0.5; }
.parcours_list .parcours {
  clear: both;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
  min-height: 107px;
  width: 700px; }
  .parcours_list .parcours .actions {
    margin-top: 10px; }
  .parcours_list .parcours .image {
    float: left;
    height: 87px;
    width: 130px; }
    .parcours_list .parcours .image img {
      max-width: 130px; }
  .parcours_list .parcours .body {
    margin-left: 150px;
    font-weight: 300;
    word-wrap: break-word; }
    .parcours_list .parcours .body .heading {
      font-weight: 400;
      border-bottom: 1px solid #EEE;
      margin: 0 0 10px 0;
      padding: 5px 0px; }
      .parcours_list .parcours .body .heading .badge {
        margin-left: 5px;
        vertical-align: 1px; }
      .parcours_list .parcours .body .heading .time {
        margin-left: 5px;
        display: inline-block;
        font-color: #999;
        font-weight: 300;
        font-size: 12px; }
    .parcours_list .parcours .body .counts {
      margin-top: 5px;
      font-size: 12px; }
      .parcours_list .parcours .body .counts .spc {
        margin-left: 15px; }

.sections_list .sections:hover {
  background: #F0F0F0; }
.sections_list .sections {
  clear: both;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
  min-height: 107px;
  width: 700px; }
  .sections_list .sections .image {
    float: left;
    height: 87px;
    width: 130px; }
    .sections_list .sections .image img {
      max-width: 130px; }
  .sections_list .sections .body {
    margin-left: 150px;
    font-weight: 300;
    word-wrap: break-word; }
    .sections_list .sections .body .heading {
      font-weight: 400;
      border-bottom: 1px solid #EEE;
      margin: 0 0 10px 0;
      padding: 5px 0px; }
      .sections_list .sections .body .heading .badge {
        margin-left: 5px;
        vertical-align: 1px; }
      .sections_list .sections .body .heading .time {
        margin-left: 5px;
        display: inline-block;
        font-color: #999;
        font-weight: 300;
        font-size: 12px; }
    .sections_list .sections .body .counts {
      margin-top: 5px;
      font-size: 12px; }
      .sections_list .sections .body .counts .spc {
        margin-left: 15px; }

.top_actions {
  padding-bottom: 10px;
  border-bottom: 1px solid #F0F0F0; }

.upload_button_fix {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden; }
  .upload_button_fix .skin_holder {
    display: inline-block; }
  .upload_button_fix .input_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .upload_button_fix .input_holder input {
      bottom: 0;
      cursor: inherit;
      font-size: 1000px !important;
      height: 300px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0; }

ul.poi_list, ul.moderator_list, ul.sections_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 600px; }
  ul.poi_list li, ul.moderator_list li, ul.sections_list li {
    min-height: 87px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0px;
    position: relative; }
    ul.poi_list li .background_image, ul.moderator_list li .background_image, ul.sections_list li .background_image {
      float: left; }
      ul.poi_list li .background_image img, ul.moderator_list li .background_image img, ul.sections_list li .background_image img {
        height: 67px; }
    ul.poi_list li .handle, ul.moderator_list li .handle, ul.sections_list li .handle {
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 3px;
      vertical-align: middle; }
      ul.poi_list li .handle .inner, ul.moderator_list li .handle .inner, ul.sections_list li .handle .inner {
        width: 28px;
        cursor: move;
        background: #F0F0F0;
        border-radius: 3px;
        border: 1px solid #DDD;
        height: 100%; }
        ul.poi_list li .handle .inner .image, ul.moderator_list li .handle .inner .image, ul.sections_list li .handle .inner .image {
          position: relative;
          top: 50%;
          margin-top: -30px; }
    ul.poi_list li .marker, ul.moderator_list li .marker, ul.sections_list li .marker {
      position: absolute;
      top: 43px;
      left: 13px;
      width: 21px;
      height: 32px; }
      ul.poi_list li .marker .image, ul.moderator_list li .marker .image, ul.sections_list li .marker .image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 21px;
        height: 32px; }
        ul.poi_list li .marker .image img, ul.moderator_list li .marker .image img, ul.sections_list li .marker .image img {
          height: 32px; }
      ul.poi_list li .marker .number, ul.moderator_list li .marker .number, ul.sections_list li .marker .number {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 21px;
        text-align: center;
        line-height: 26px;
        color: #FFF;
        font-size: 16px; }
    ul.poi_list li .qrcode_holder, ul.moderator_list li .qrcode_holder, ul.sections_list li .qrcode_holder {
      position: absolute;
      top: 0px;
      right: 32px;
      width: 87px;
      height: 87px;
      overflow: hidden; }
    ul.poi_list li .body, ul.moderator_list li .body, ul.sections_list li .body {
      margin-right: 160px;
      font-weight: 300;
      font-size: 13px;
      margin-left: 110px; }
      ul.poi_list li .body h3, ul.moderator_list li .body h3, ul.sections_list li .body h3 {
        display: inline-block;
        margin: 0px;
        font-size: 18px;
        margin-right: 5px; }
      ul.poi_list li .body .tag_name, ul.moderator_list li .body .tag_name, ul.sections_list li .body .tag_name {
        vertical-align: 1px;
        font-weight: 300;
        font-size: 13px; }
    ul.poi_list li .actions, ul.moderator_list li .actions, ul.sections_list li .actions {
      margin-top: 8px; }
      ul.poi_list li .actions button span.glyphicon, ul.moderator_list li .actions button span.glyphicon, ul.sections_list li .actions button span.glyphicon {
        margin-right: 5px; }
  ul.poi_list .ui-state-highlight, ul.moderator_list .ui-state-highlight, ul.sections_list .ui-state-highlight {
    height: 87px;
    background: #F0F0F0; }

.moderator_list #mod_alert {
  position: fixed;
  right: 20px;
  top: 74px; }

#modal.qrcode-modal .modal-dialog {
  width: 320px; }
  #modal.qrcode-modal .modal-dialog .modal-content {
    width: 320px; }

.main.poi_list #map-canvas {
  float: right; }

#map-canvas {
  width: 400px;
  height: 400px; }
  #map-canvas .custom-marker {
    width: 20px;
    height: 40px;
    color: #FFF;
    position: absolute; }
    #map-canvas .custom-marker .holder {
      position: relative; }
      #map-canvas .custom-marker .holder .image {
        position: absolute;
        top: 0px;
        left: 0px; }
        #map-canvas .custom-marker .holder .image img {
          height: 32px; }
      #map-canvas .custom-marker .holder .number {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 40px;
        text-align: center;
        line-height: 24px; }

.modal.media_modal .modal-dialog {
  width: 652px; }
.modal.media_modal .media_list {
  overflow: auto; }
  .modal.media_modal .media_list .media_item:hover {
    transform: scale(0.9); }
    .modal.media_modal .media_list .media_item:hover .selected_overlay {
      opacity: 1; }
  .modal.media_modal .media_list .media_item:nth-child(3n+0) {
    margin-right: 0px; }
  .modal.media_modal .media_list .media_item {
    float: left;
    width: 200px;
    height: 133px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: ease all 200ms;
    transform: scale(1);
    overflow: hidden; }
    .modal.media_modal .media_list .media_item .selected_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 133px;
      z-index: 100;
      text-align: center;
      background: rgba(51, 122, 183, 0.5);
      opacity: 0;
      color: #FFF;
      transition: ease all 200ms; }
    .modal.media_modal .media_list .media_item .image {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0px;
      margin-top: 0px;
      z-index: 99;
      transition: ease all 200ms; }
      .modal.media_modal .media_list .media_item .image img {
        transition: ease all 200ms;
        width: 200px; }

.main.new_poi #map-canvas {
  padding: 10px;
  width: 100%; }
.main.new_poi .checkboxes .info {
  text-align: left;
  font-size: 12px;
  color: #444;
  line-height: normal;
  margin-top: 10px; }
.main.new_poi .checkboxes table td {
  padding: 0 5px;
  text-align: right;
  line-height: 44px; }
  .main.new_poi .checkboxes table td label {
    margin-bottom: 0; }
.main.new_poi .checkboxes table td.info {
  text-align: left;
  font-size: 12px;
  color: #444;
  line-height: normal; }

.navbar-nav li a {
  margin-top: 10px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin #j_username:focus {
  z-index: 10; }

.form-signin #j_username {
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.form-signin input[type="password"] {
  z-index: 10; }

.form-signin input[type="password"] {
  position: relative;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.navbar-brand {
  margin-top: 10px; }

.nav li a.user_nav {
  margin-top: 0px; }
  .nav li a.user_nav .thumb {
    float: left;
    height: 36px;
    width: 36px;
    overflow: hidden; }
    .nav li a.user_nav .thumb img {
      max-width: 36px;
      max-height: 36px; }
  .nav li a.user_nav .body {
    margin-left: 52px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 300;
    color: #CCC; }
    .nav li a.user_nav .body .username {
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px; }
  .nav li a.user_nav .icon {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px; }

textarea#content {
  height: 504px;
  display: block; }

.map_picker .google_map_canvas {
  height: 400px;
  width: 100%;
  margin-bottom: 10px; }
.map_picker .autocomplete_holder .geocoding-info.working .working {
  display: block; }
.map_picker .autocomplete_holder .geocoding-info.working .done {
  display: none; }
.map_picker .autocomplete_holder .geocoding-info .working {
  display: none;
  width: 30px; }
.map_picker .autocomplete_holder .geocoding-info .done {
  display: block;
  width: 30px; }

.main_error {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px; }

.form-group.checkboxes.has-error .bootstrap-switch {
  border-color: #a94442; }

.form-group.has-error .cke_editor_content {
  border-color: #a94442; }

.poi_image_uploader.error .background_preview {
  border-color: #a94442; }

/*# sourceMappingURL=backend.css.map */
